<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gastaccount-Verwaltung</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.min.js"></script>

    <style type="text/css">
            .hidden1
            {
                max-width: 110px;
                min-width: 110px;
            }
            td.hidden1
            {
                overflow:hidden;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>

  </head>

  <body>
    <div>
      <div class="header">
        <h2 class="text-muted">Mathematikon Raumbelegungsplan</h2>
      </div>

      <div>
          <table class="table table-bordered table-striped table-responsive">
              <tbody>{{ tablecontent|safe }}</tbody>
          </table>
      </div>

      <footer class="footer">
        <p>&copy; al3xst 2017</p>
      </footer>

    </div>
  </body>
</html>